<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
{{{ content }}}
<div>Reading list:</div>
<ul>
  {{#data.books.fiction}}
    <li>{{title}} -- {{author}} ({{rating}}/5)</li>
  {{/data.books.fiction}}
</ul>
</body>
</html>