<!DOCTYPE html>
<html>
<head>
  <title>{{title}} - Section</title>
</head>
<body>
<h1>{{title}}</h1>
<div>{{{content}}}</div>
<ul>
  {{#children}}
    <li>{{title}}: {{{content}}}</li>
  {{/children}}
</ul>
</body>
</html>