<!DOCTYPE html>
<html>
<head>
  <title>{{title}} - Section</title>
</head>
<body>
<h1>{{title}}</h1>
<div>{{{content}}}</div>
{{#children}}
  <a href="{{path}}">{{title}}</a>
{{/children}}
</body>
</html>