<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - Section</title>
</head>
<body>
<h1>{{ title }}</h1>
{{#children}}
    <a href="{{path}}">{{name}}</a>
{{/children}}
<script src="http://127.0.0.1:4040/reload.js"></script>
</body>
</html>